name: Deploy API to EC2

on:
  push:
    branches:
      - main  # Cambia a la rama que usas para producci칩n

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Clonar el repositorio
      uses: actions/checkout@v2

    - name: Conectar a EC2 y desplegar
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /backActions

          echo "游릭 Actualizando c칩digo..."
          git pull origin main

          echo "游댣 Construyendo nueva imagen Docker..."
          docker-compose down
          docker-compose build

          echo "游 Levantando contenedores..."
          docker-compose up -d

          echo "游빛 Limpiando im치genes antiguas..."
          docker image prune -f